*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.body{
    background: url(./images/pexels-photo-2098428.jpeg);
}
.hset{
    background-color: rgba(240, 248, 255, 0.205);
    border-radius: 20px;
    padding: 10px;
}
.box{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(85deg,	#19197067,#9470db66);
    color: #fff;
    margin: 50px auto 0;
    border-radius: 5px;
    padding: 35px 35px 20px 35px;
    text-align: center;
}
ul{
    list-style-type: none;
    padding-right: 20px;
}
li{
    background-color: #9470db5b;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}
